page-note-list {
  .createNoteBtn{
    background-color: #488aff;
    color: white;
    border-radius: 3px;
    margin: 10px;
    padding: 11px;
    width: calc(100% - 20px);
    font-size: 15px;
  }
  .noteItem span{
    font-size: 10px;
    color: gray;
  }

  .noteContent{
    color: #000;
  }
  .noteContentTextArea{
    textarea{
      height: 200px;

    }

  }

  .addPhotoBtn{
    border: 1px dashed;
    font-size: 20px;
    background-color: transparent;
    height: 45px;
    width: 60px;
    border-radius: 5px;
    color: gray;
  }
}
