<!--
  Generated template for the PostMomentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>postMoment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="imgs.length!=0">
    <ion-img style="margin-right: 2px;" *ngFor="let img of imgs;let i = index" width="150" src={{img}} (click)="viewPhoto(i)"></ion-img>
  </div>
  <button class="addPhotoBtn" (click)="addPhoto()"><ion-icon name="add"></ion-icon></button>

  <ion-textarea class="noteContentTextArea" #note_input
                placeholder="添加动态..."
                [(ngModel)]="postContent"
                (focus)="onFocus()">
  </ion-textarea>
  <button ion-button (click)="closeModal()">Close</button>
  <button ion-button (click)="closeModal()">Create</button>
</ion-content>


