<!--
  Generated template for the PersonalInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>personalInfo</ion-title>
    <ion-buttons *ngIf="relation==0" end>
      <button ion-button icon-only (click)="editBtnClicked()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <!--<button class="editBtn" (click)="editBtnClicked()">-->
      <!--<ion-icon name="create"></ion-icon>-->
    <!--</button>-->
  </ion-navbar>

</ion-header>


<ion-content padding>


  <div class="avatar">
    <img height="80px" *ngIf="personalUserInfo!=null" width="80px" src="{{personalUserInfo.hasavatar?(avatarURL+personalUserInfo.id):'assets/imgs/avatar.jpg'}}" />
  </div>
  <!--<div class="nameDiv">{{user.name}}</div>-->
  <ion-card class="myCard">

    <ion-item>
      <!--<ion-avatar item-start>-->
      <!--<img src="assets/imgs/avatar.jpg">-->
      <!--</ion-avatar>-->
      <h2>姓名：{{personalUserInfo?personalUserInfo.include.name:''}}</h2>
      <h2 class="infoDetail">职位：{{personalUserInfo?personalUserInfo.occupation:''}}</h2>
      <h2 class="infoDetail">职业：{{personalUserInfo?personalUserInfo.job:''}} </h2>
      <h2 class="infoDetail">组织：{{personalUserInfo?personalUserInfo.organization:''}}</h2>
      <h2 class="infoDetail"><a navPush="InfluencePage">影响力：{{personalUserInfo?personalUserInfo.influence:''}}</a></h2>
    </ion-item>


  </ion-card>
  <ion-list *ngIf="relation==1">
    <button ion-item (click)="addGroup()">
      <ion-icon style="margin-right: 10px" name="pricetag"></ion-icon>
      {{inGroup==''?'分组':inGroup}}
    </button>

    <button ion-item (click)="viewNote()">
      <ion-icon style="margin-right: 15px" name="document"></ion-icon>
      查看笔记
    </button>
  </ion-list>
  <button *ngIf="relation==1" (click)="sendMessage()" class="myBtn funcBtn">发消息</button>
  <button *ngIf="relation==2" (click)="addFriend()" class="myBtn funcBtn">添加好友
  </button>
  <button *ngIf="!showDetail" class="myBtn detailBtn showDetailBtn" (click)="showInfoDetail()">显示详细信息
    <ion-icon name="arrow-down"></ion-icon>
  </button>
  <ion-list class="detailList" *ngIf="showDetail">
    <ion-item *ngFor="let labelName of labelNames;let i = index">
      <ion-label>{{labelName}}</ion-label>
      <ion-label>{{userValues[i]}}</ion-label>
    </ion-item>
  </ion-list>

  <button *ngIf="showDetail" class="myBtn detailBtn hideDetailBtn" (click)="showInfoDetail()">隐藏详细信息
    <ion-icon name="arrow-up"></ion-icon>
  </button>


</ion-content>

