page-edit-info {
  .avatar{
    text-align: center;
    img{
      border-radius: 50%;
    }
  }


  button.saveBtn,button.cancelBtn{
    background-color: transparent;

    position: relative;
    font-size: 20px;
    color: #488aff;
  }

  button.saveBtn{
    float: right;
  }



}
