page-add-note {
  .noteContentTextArea{
    textarea{
      height: 200px;

    }

  }

  .addPhotoBtn{
    //display:none;
    border: 1px dashed;
    font-size: 20px;
    background-color: transparent;
    height: 45px;
    width: 60px;
    border-radius: 5px;
    color: gray;
  }

}
