page-add-meettime {
  .noteContentTextArea{
    textarea{
      height: 200px;

    }

  }

  .addPhotoBtn{
    //display:none;
    border: 1px dashed;
    font-size: 20px;
    background-color: transparent;
    height: 45px;
    width: 60px;
    border-radius: 5px;
    color: gray;
    margin-left: 16px;

  }

  .noteList{
    margin-top: 10px;
  }


}
