page-add-group {
  .createGroupBtn{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 15px;
    background-color: #488aff;
    color: white;
  }

  .groupList{
    margin-top: 18px;
  }

  .conformBtn{
    float: right;
    font-size: 18px;
    background-color: transparent;
  }


}
